# Docker
DOCKER_IMAGE_NAME=trocr-base-handwritten-chess-notation
DOCKER_IMAGE_VERSION=1.0.0
DOCKER_USERNAME=
DOCKER_PASSWORD=

# MLflow
MODEL_NAME=trocr-base-handwritten-chess-notation
MODEL_VERSION=

# Default model
HF_MODEL_URI=BenjaminKost/trocr-base-handwritten-chess-notation

# Dagshub
DAGSHUB_TOKEN=
DAGSHUB_MLFLOW_TRACKING_URI=
DAGSHUB_MLFLOW_TRACKING_USERNAME=
DAGSHUB_REPOSITORY=