fastapi
uvicorn
python-multipart
aiofiles
click
fastapi
mlflow
mlflow_skinny
numpy
opencv-python
pandas
Pillow
scikit_learn
starlette
transformers
zenml
dagshub
seaborn
ibm_watson_machine_learning
pytest
pytest-dependency
pre-commit
matplotlib
joblib
pyyaml